@tailwind base;
@tailwind components;
@tailwind utilities;

#dnmode {
    position: fixed;
    bottom: 40px;
    left: -28px;
    border: 2px solid rebeccapurple;
    padding: 12px 40px;
    border-radius: 30px;
    background: rebeccapurple;
    cursor: pointer;
}